allennlp
attrs
base58
blis
boto3
botocore
cached-path
cachetools
catalogue
certifi
charset-normalizer
click
cymem
dill
docker-pycreds
fairscale
filelock
gitdb
GitPython
google-api-core
google-auth
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
h5py
huggingface-hub
idna
iniconfig
Jinja2
jmespath
joblib
jsonnet
langcodes
lmdb
MarkupSafe
more-itertools
murmurhash
nltk
numpy
packaging
pathtools
pathy
Pillow
pluggy
preshed
promise
protobuf
psutil
py
pyasn1
pyasn1-modules
pydantic
pyparsing
pytest
python-dateutil
PyYAML
regex
requests
rsa
s3transfer
sacremoses
scikit-learn
scipy
sentencepiece
sentry-sdk
setproctitle
shortuuid
six
smart-open
smmap
spacy
spacy-legacy
spacy-loggers
srsly
tensorboardX
termcolor
thinc
threadpoolctl
tokenizers
tomli
torch
torchvision
tqdm
transformers
typer
typing_extensions
urllib3
wandb
wasabi
yaspin
